<?xml version="1.0"?>
<config>
  <modules>
    <Rushit_Cex>
      <version>0.1.0</version>
    </Rushit_Cex>
  </modules>
  <global>
    <helpers>
      <cex>
        <class>Rushit_Cex_Helper</class>
      </cex>
    </helpers>
	<models>
	  <cex>
		<class>Rushit_Cex_Model</class>
		<resourceModel>cex_mysql4</resourceModel>
	  </cex>
	</models>
	<resources>
	  <customerattribute1494852701_setup>
		<setup>
		  <module>Rushit_Cex</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1494852701_setup>
	  <customerattribute1494852701_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1494852701_write>
	  <customerattribute1494852701_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1494852701_read>
	</resources>
  </global>
</config> 